.addphoneform {
    text-align: left;
}

.addphoneform .form-group {
    padding-bottom: 20px;
}

.addphoneform .form-group label .caption {
    font-weight: bold;
}

.addphoneform .form-group label input {
    height: 25px;
    width: 100%;
}

.addphoneform .btn-submit {
    background: #FF5640;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 25px;
    border-radius: 5px;
    float: right;
}